.container{
    display: flex;
    color: white;
    padding-left: 75px;
    height: 100vh;
    opacity: 1;
    animation: opacity 1.5s 1 backwards;
    overflow-x: hidden;
    overflow-y: hidden;
	white-space: nowrap;
	flex-wrap: wrap;


	@keyframes opacity {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	
	.title-block{
		display: flex;
		flex-direction: column;
		height: 100%;
		padding-right: 49px;
		border-right: 1px #ffffff solid;
		margin-right: 10px;
		width: 20%;
		// background-color: darkslategrey;

		.title{
			position: absolute;
			top: 45vh;
			z-index: 1;

			h2{
				font-size: 60px;
				font-weight: normal;
				margin: 0;
			}

			.block{

				display: flex;

				p{
					margin: 0;
					font-size: 60px;
					font-style: italic;
					animation-name: opacity-title;
					animation-timing-function: ease-in-out;
					animation-duration: .2s;
					animation-fill-mode: forwards;
					opacity: 0;

					&:nth-of-type(1){
						animation-delay: .2s;
					}

					&:nth-of-type(2){
						animation-delay: .4s;
					}

					&:nth-of-type(3){
						animation-delay: .6s;
					}

					&:nth-of-type(4){
						animation-delay: .8s;
					}

					&:nth-of-type(5){
						animation-delay: 1s;
					}

					@keyframes opacity-title {
						0%{
						
							opacity: 0;
						}
						100%{
						
							opacity: 1;
						}
					}
		
				}
				
			}
		}

		.image{
			padding-top: 360px;
			padding-left: 90px;
			height: 80%;

			.image img{
				width: 70%;
				height: auto;
			  }
		}
	}

	.description{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		width: 35%;
		border-left: 1px #ffffff solid;
		box-sizing: border-box;
		// padding: 0 40px;
		height: 100%;
		// background-color: darkslateblue;

		.description-content{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			height: 40%;
			padding: 0px 60px;
			// background-color: darksalmon;
			box-sizing: border-box;

			p{
				font-size: 16px;
				font-weight: normal;
			}
		}

		.description-link{
			width: 100%;
			height: 35%;
			// background-color: darkslateblue;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 100px 60px;
			box-sizing: border-box;


			a{
				font-size: 16px;
				color: #ffffff;
				text-decoration: none;
			}
		}
	}

	.picture{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 35%;
		border-left: 1px #ffffff solid;
		// background-color: darkseagreen;

		.picture-container{
			width: 250px;
			height: 350px;
			background-color: grey;
		}

		.svg{
			margin-top: -50px;
			margin-right: -250px;
			animation-name: circle;
			animation-duration: 5s;
			animation-play-state: running;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		a{
			text-decoration: none;

			.contact{
				width: 250px;
				text-decoration: none;
				display: flex;
				align-items: center;
				cursor: pointer;
	
				p{
					color: #ffffff;
					font-size: 16px;
					font-style: italic;
				}

				.line{
					margin-left: 10px;
					width: 50px;
					height: 1px;
					background-color: #ffffff;
				}

				&:hover .line{
					animation: ligne 1s 1 normal;
				}

				@keyframes ligne{
					0%{
						width: 0px;
					}
					100%{
						width: 50px;
					}
				}
			}
		}

		@keyframes circle {
			0%{
				transform: rotate(0deg);
			}
			100%{
				transform: rotate(360deg);
			}
		}
	}

	.links{
		display: flex;
		// justify-content: center;
		// align-items: flex-end;
	
		border-left: 1px #ffffff solid;
		background-color: darkslateblue;

		.links-content{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
	
			padding: 100px 60px;
			box-sizing: border-box;

			a{
				font-size: 16px;
				color: #ffffff;
				text-decoration: none;
			}
		}
	}
}

@media screen and (max-width: 1300px) and (min-width: 1024px){
	.container{
		// background-color: darkmagenta;
		flex-wrap: wrap;
		// flex-direction: column;

		.title-block{
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 25vh;
			border: none;
			// background-color: cadetblue;

			.title{
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				position: relative;
				top: 0;

				h2{
					font-size: 45px;
					font-weight: normal;
					margin: 0;
				}

				.block{
					p{
						font-size: 45px;
					}
				}
			}

			.image{
				display: none;
			}
		}

		.picture{
			width: 50%;
			height: 75vh;
			border: none;
			// background-color: blue;
		}

		.description{
			display: flex;
			flex-direction: column;
			// flex-direction: row;
			width: 50%;
			height: 75vh;
			border: none;
	

			.description-content{
				width: 100%;
				height: 80%;
				// background-color: red;
				padding: 100px 60px;
				// justify-content: flex-end;

				p{
					margin: 0;
					padding: 0;
				}
			}

			.description-link{
				flex-direction: row;
				justify-content: space-around;
				width: 100%;
				height: 20%;
				padding-left: 60px;
				padding: 20px 0px;
				// background-color: green;
			}
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 431px){
	.container{
		// background-color: hotpink;
		flex-wrap: wrap;
		overflow-y: scroll;
		height: auto;
		padding: 0;
		// flex-direction: column;

		.title-block{
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 25vh;
			border: none;
			margin: 0;
			padding: 0;
			// background-color: cadetblue;

			.title{
				display: flex;
				width: 100%;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				position: relative;
				top: 0;

				h2{
					font-size: 45px;
					font-weight: normal;
					margin: 0;
				}

				.block{
					p{
						font-size: 45px;
					}
				}
			}

			.image{
				display: none;
			}
		}

		.picture{
			display: flex;
			width: 100%;
			height: auto;
			border: none;
			padding-top: 50px;
			// background-color: blue;
		}

		.description{
			display: flex;
			flex-direction: column;
			// flex-direction: row;
			width: 100%;
			height: auto;
			border: none;
	

			.description-content{
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				height: auto;
				text-align: center;
			}

			.description-link{
				flex-direction: row;
				justify-content: space-around;
				width: 100%;
				height: 20%;
				padding-left: 60px;
				padding: 20px 0px;
				// background-color: green;
			}
		}
	}
}

@media screen and (max-width: 430px){
	.container{
		// background-color: indianred;
		flex-wrap: wrap;
		overflow-y: scroll;
		height: auto;
		padding: 0;
		// flex-direction: column;

		.title-block{
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 25vh;
			border: none;
			margin: 0;
			padding: 0;
			// background-color: cadetblue;

			.title{
				display: flex;
				width: 100%;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				position: relative;
				top: 0;

				h2{
					font-size: 35px;
					font-weight: normal;
					margin: 0;
				}

				.block{
					margin-left: 10px;
					p{
						font-size: 35px;
					}
				}
			}

			.image{
				display: none;
			}
		}

		.picture{
			display: flex;
			width: 100%;
			height: auto;
			border: none;
			padding-top: 50px;
			// background-color: blue;
		}

		.description{
			display: flex;
			flex-direction: column;
			// flex-direction: row;
			width: 100%;
			height: auto;
			border: none;
	

			.description-content{
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				height: auto;
				text-align: center;

				p{
					font-size: 15px;
				}
			}

			.description-link{
				flex-direction: row;
				justify-content: space-around;
				width: 100%;
				height: 20%;
				padding-left: 60px;
				padding: 20px 0px;
				// background-color: green;
			}
		}
	}
}