@import '../../styles/variables/colors/_colors.scss';
@import '../../styles/mixins/_typography.scss';

.container-about{
    display: flex;
    padding-left: 75px;
    height: 100vh;
    opacity: 1;
    animation: opacity 1.5s 1 backwards;
    overflow-x: hidden;
    overflow-y: hidden;
	white-space: nowrap;
	flex-wrap: wrap; 
	background-color: var(--dark-background);


	@keyframes opacity {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	
	.block-left{
		display: flex;
		flex-direction: column;
		height: 100%;
		padding-right: 49px;
		border-right: 1px var(--light-font) solid;
		margin-right: 10px;
		width: 20%;

		.block-left__title{
			position: absolute;
			top: 45vh;
			z-index: 1;

			h2{
				@include title;
				color: var(--light-font);
			}

			.block-left__subtitle{
				margin-top: 15px;
				display: flex;

				p{
					@include title_italic;
					color: var(--light-font);
					animation-name: opacity-title;
					animation-timing-function: ease-in-out;
					animation-duration: .2s;
					animation-fill-mode: forwards;
					opacity: 0;

					&:nth-of-type(1){
						animation-delay: .2s;
					}

					&:nth-of-type(2){
						animation-delay: .4s;
					}

					&:nth-of-type(3){
						animation-delay: .6s;
					}

					&:nth-of-type(4){
						animation-delay: .8s;
					}

					&:nth-of-type(5){
						animation-delay: 1s;
					}

					&:nth-of-type(6){
						animation-delay: 1.2s;
						padding-left: 10px;
					}

					&:nth-of-type(7){
						animation-delay: 1.4s;
					}

					@keyframes opacity-title {
						0%{
						
							opacity: 0;
						}
						100%{
						
							opacity: 1;
						}
					}
		
				}
				
			}
		}

		.block-left__icon{
			padding-top: 360px;
			padding-left: 90px;
			height: 80%;

			.block-left__icon img{
				width: 70%;
				height: auto;
			  }
		}

		.block-left__footer--big{
			width: 100%;
			display: flex;
			align-items: flex-start;
			margin-bottom: 30px;

			p{
				@include footer;
				color: var(--light-font);
			}
		}
	}

	.picture{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 35%;
		border-left: 1px var(--light-background) solid;

		.block-picture{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 250px;
			height: 350px;
			background-color: red;
			overflow: hidden;

			img{
				filter: grayscale(100%);
				width: 130%;
				height: auto;
			}
		}

		.block-picture__icon{
			margin-top: -50px;
			margin-right: -250px;
			animation-name: circle;
			animation-duration: 5s;
			animation-play-state: running;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		a{
			text-decoration: none;

			.block-picture__contact{
				width: 250px;
				text-decoration: none;
				display: flex;
				align-items: center;
				cursor: pointer;
	
				p{
					@include body-bold;
					color: var(--light-font);
				}

				.block-picture__contact--line{
					margin-left: 10px;
					width: 50px;
					height: 1px;
					background-color: var(--light-background);
				}

				&:hover .block-picture__contact--line{
					animation: ligne 1s 1 normal;
				}

				@keyframes ligne{
					0%{
						width: 0px;
					}
					100%{
						width: 50px;
					}
				}
			}
		}

		@keyframes circle {
			0%{
				transform: rotate(0deg);
			}
			100%{
				transform: rotate(360deg);
			}
		}
	}

	.block-description{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		width: 35%;
		border-left: 1px var(--light-background) solid;

		.block-description__text{
			padding: 0 60px;

			p{
				@include body;
				padding: 10px 0;
				color: var(--light-font);
				white-space: initial;
			}

		}

		.block-description__link{
			width: 100%;
			height: 35%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 100px 60px;
			box-sizing: border-box;


			a{
				@include body-bold;
				color: var(--light-font);
				text-decoration: none;
			}
		}

		.block-description__footer--small{
			display: none;
		}
	}
}

@media screen and (max-width: 1300px) and (min-width: 1024px){
	.container{
		flex-wrap: wrap;
		// flex-direction: column;

		.title-block{
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 25vh;
			border: none;
			// background-color: cadetblue;

			.title{
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				position: relative;
				top: 0;

				h2{
					font-size: 45px;
					font-weight: normal;
					margin: 0;
				}

				.block{
					p{
						font-size: 45px;
					}
				}
			}

			.image{
				display: none;
			}

			.footer-big{
				display: none;
			}
		}

		.picture{
			width: 50%;
			height: 75vh;
			border: none;
			// background-color: blue;
		}

		.description{
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;
			border: none;
			padding-right: 50px;
			box-sizing: border-box;
	

			.description-content{
				width: 100%;
				padding: 0;
			}

			.description-link{
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				height: 0%;
				padding: 0;
				margin-top: 60px;
			}

			.footer-small{
				width: 100%;
				display: flex;
				align-items: flex-start;
				margin-bottom: 30px;
				margin-top: 50px;
	
				p{
					margin: 0;
					font-style: italic;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 431px){
	.container{
		// background-color: hotpink;
		flex-wrap: wrap;
		overflow-y: scroll;
		height: auto;
		padding: 0;
		// flex-direction: column;

		.title-block{
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 25vh;
			border: none;
			margin: 0;
			padding: 0;
			// background-color: cadetblue;

			.title{
				display: flex;
				width: 100%;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				position: relative;
				top: 0;

				h2{
					font-size: 45px;
					font-weight: normal;
					margin: 0;
				}

				.block{
					p{
						font-size: 45px;
					}
				}
			}

			.image{
				display: none;
			}

			.footer-big{
				display: none;
			}
		}

		.picture{
			display: flex;
			width: 100%;
			height: auto;
			border: none;
			padding-top: 50px;
			// background-color: blue;
		}

		.description{
			display: flex;
			flex-direction: column;
			// flex-direction: row;
			width: 100%;
			height: auto;
			border: none;
	

			.description-content{
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				// flex-direction: column;
				width: 80%;
				height: auto;
				text-align: center;
			}

			.description-link{
				flex-direction: row;
				justify-content: space-around;
				width: 100%;
				height: 20%;
				padding-left: 60px;
				padding: 20px 0px;
				// background-color: green;
			}

			.footer-small{
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				margin-bottom: 30px;
				margin-top: 50px;
	
				p{
					margin: 0;
					font-style: italic;
				}
			}
		}
	}
}

@media screen and (max-width: 430px){
	.container{
		// background-color: indianred;
		flex-wrap: wrap;
		overflow-y: scroll;
		height: auto;
		padding: 0;
		// flex-direction: column;

		.title-block{
			display: flex;
			justify-content: flex-end;
			width: 100%;
			border: none;
			margin: 0;
			padding: 0;
			margin-top: 120px;
			// background-color: cadetblue;

			.title{
				display: flex;
				width: 100%;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				top: 0;

				h2{
					font-size: 35px;
					font-weight: normal;
					margin: 0;
				}

				.block{
					margin-left: 0px;
					p{
						font-size: 35px;

						&:nth-of-type(6){
							padding-left: 10px;
						}
					}
				}
			}

			.image{
				display: none;
			}

			.footer-big{
				display: none;
			}
		}

		.picture{
			display: flex;
			width: 100%;
			height: auto;
			border: none;
			padding-top: 50px;
			// background-color: blue;

			.svg{
				img{
					width: 65px;
					height: 65px;
				}
			}
		}

		.description{
			display: flex;
			flex-direction: column;
			// flex-direction: row;
			width: 100%;
			height: auto;
			border: none;

			.description-content{
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				width: 80%;
				height: auto;
				text-align: center;

				p{
					font-size: 15px;
				}
			}

			.description-link{
				flex-direction: row;
				justify-content: space-around;
				width: 100%;
				height: 20%;
				padding-left: 60px;
				padding: 20px 0px;
				// background-color: green;
			}

			.footer-small{
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				margin-bottom: 30px;
				margin-top: 50px;
	
				p{
					margin: 0;
					font-style: italic;
				}
			}
		}
	}
}