.container {
  display: flex;
  color: white;
  padding-left: 75px;
  height: 100vh;
  opacity: 1;
  animation: opacity 1.5s 1 backwards;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container .title-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 49px;
  border-right: 1px #ffffff solid;
  margin-right: 10px;
  width: 25%;
}

.container .title-block .title {
  position: absolute;
  top: 45vh;
  z-index: 1;
}

.container .title-block .title h2 {
  font-size: 60px;
  font-weight: normal;
  margin: 0;
}

.container .title-block .title .block {
  display: flex;
}

.container .title-block .title .block p {
  margin: 0;
  font-size: 60px;
  font-style: italic;
  animation-name: opacity-title;
  animation-timing-function: ease-in-out;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.container .title-block .title .block p:nth-of-type(1) {
  animation-delay: .2s;
}

.container .title-block .title .block p:nth-of-type(2) {
  animation-delay: .4s;
}

.container .title-block .title .block p:nth-of-type(3) {
  animation-delay: .6s;
}

.container .title-block .title .block p:nth-of-type(4) {
  animation-delay: .8s;
}

.container .title-block .title .block p:nth-of-type(5) {
  animation-delay: 1s;
}

@keyframes opacity-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container .title-block .image {
  padding-top: 360px;
  padding-left: 90px;
  height: 80%;
}

.container .title-block .image .image img {
  width: 70%;
  height: auto;
}

.container .description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  border-left: 1px #ffffff solid;
  box-sizing: border-box;
  padding: 0 40px;
  height: auto;
}

.container .description .description-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 35%;
}

.container .description .description-content p {
  font-size: 16px;
  font-weight: normal;
}

.container .picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  border-left: 1px #ffffff solid;
}

.container .picture .picture-container {
  width: 250px;
  height: 350px;
  background-color: grey;
}

.container .picture .svg {
  margin-top: -50px;
  margin-right: -250px;
  animation-name: circle;
  animation-duration: 5s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container .links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 25%;
  border-left: 1px #ffffff solid;
}

.container .links .links-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 35%;
  padding: 100px 60px;
  box-sizing: border-box;
}

.container .links .links-content a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
