.container {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100vh;
  opacity: 1;
  animation: opacity 1.5s 1 backwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container .title-info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 160px;
}

.container .title-info h2 {
  font-size: 68px;
  z-index: 1;
}

.container .presentation-info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.container .presentation-info h3 {
  font-size: 30px;
}

.container .triptych {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 130px;
  padding: 0px 75px;
  box-sizing: border-box;
}

.container .triptych .triptych-image {
  width: 336px;
  height: 336px;
  background-color: gray;
}

.container .description {
  display: flex;
  width: 100%;
  margin-top: 190px;
  padding: 0px 75px;
  box-sizing: border-box;
}

.container .description .description-intro {
  width: 50%;
  box-sizing: border-box;
}

.container .description .description-intro h4 {
  font-size: 41px;
}

.container .description .description-intro p {
  font-size: 16px;
  width: 489px;
  margin-top: 33px;
}

.container .description .description-intro .discover {
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.container .description .description-intro .discover .ligne {
  width: 67px;
  height: 1px;
  background-color: #ffffff;
}

.container .description .description-intro .discover a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 34px;
}

.container .description .description-category {
  width: 50%;
  padding-right: 72px;
  box-sizing: border-box;
}

.container .description .description-category .description-category-block {
  display: flex;
  border-bottom: 1px solid #ffffff;
  padding: 25px 0px;
}

.container .description .description-category .description-category-block p {
  font-size: 20px;
  margin-right: 30px;
}

.container .second-image {
  margin-top: 230px;
  display: flex;
  width: 100%;
  height: 458px;
  background-color: #ffffff;
}

.container .content {
  margin-top: 130px;
  display: flex;
  width: 100%;
  padding: 0px 75px;
  box-sizing: border-box;
}

.container .content .content-intro {
  width: 50%;
  box-sizing: border-box;
}

.container .content .content-intro h4 {
  font-size: 41px;
}

.container .content .content-intro p {
  font-size: 16px;
  width: 489px;
  margin-top: 33px;
}

.container .content .content-text {
  width: 50%;
  padding-right: 72px;
  box-sizing: border-box;
}

.container .content .content-text p {
  font-size: 16px;
  width: 489px;
  margin-top: 33px;
}

.container .quotes {
  margin-top: 130px;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 71px 238px;
  box-sizing: border-box;
  justify-content: center;
}

.container .quotes p {
  color: #000000;
  font-size: 42px;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  width: 964px;
}

.container .video {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container .video .video-container {
  width: 950px;
  height: 458px;
  background-color: grey;
}

.container .conclusion {
  margin-top: 130px;
  display: flex;
  width: 100%;
  padding: 0px 75px;
  box-sizing: border-box;
}

.container .conclusion .conclusion-intro {
  width: 50%;
  box-sizing: border-box;
}

.container .conclusion .conclusion-intro h4 {
  font-size: 41px;
}

.container .conclusion .conclusion-intro p {
  font-size: 16px;
  width: 489px;
  margin-top: 33px;
}

.container .conclusion .conclusion-text {
  width: 50%;
  padding-right: 72px;
  box-sizing: border-box;
}

.container .conclusion .conclusion-text p {
  font-size: 16px;
  width: 489px;
  margin-top: 33px;
}

.container .next-project {
  width: 100%;
  background-color: #ffffff;
  padding: 56px 75px 56px 0;
  box-sizing: border-box;
  margin-top: 190px;
}

.container .next-project .next-project-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.container .next-project .next-project-button .ligne {
  width: 67px;
  height: 1px;
  background-color: #000000;
}

.container .next-project .next-project-button a {
  font-weight: bold;
  font-size: 27px;
  color: #000000;
  text-decoration: none;
  margin-left: 30px;
}

.container footer {
  width: 100%;
  padding: 72px 0;
  box-sizing: border-box;
}

.container footer p {
  font-size: 27px;
  text-align: center;
}

[class*="reveal-"] {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 1s;
  transition-timing-function: ease;
}

.reveal-subtitle {
  transition-delay: .3s;
}
