.container{ 
	display: flex;
	flex-direction: column;
    color: white;
    height: 100vh;
    opacity: 1;
	animation: opacity 1.5s 1 backwards;
	
	@keyframes opacity {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.title-info{
		display: flex;
		justify-content: center; 
		width: 100%;
		height: auto;
		margin-top: 160px;

		h2{
			font-size: 68px;
			z-index: 1;
		}

	}

	.presentation-info{
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;

		h3{
			font-size: 30px;
		}
	}

	.cover{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		// height: 40%;
		margin-top: 130px;
		// padding: 0px 75px;
		box-sizing: border-box;

		.cover-image{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			height: auto;

			img{
				width: 100%;
				height: auto;
			}
		}
	}

	.description{
		display: flex;
		width: 100%;
		margin-top: 190px;
		padding: 0px 75px;
		box-sizing: border-box;

		.description-intro{
			width: 50%;
			box-sizing: border-box;

			h4{
				font-size: 41px;
			}

			p{
				font-size: 16px;
				width: 489px;
				margin-top: 33px;
			}

			.discover{
				display: flex;
				align-items: center;
				margin-top: 30px;
				cursor: pointer;

				.ligne{
					width: 67px;
					height: 1px;
					background-color: #ffffff;
				}

				a{
					font-size: 18px;
					text-decoration: none;
					color: #ffffff;
					margin-left: 34px;
				}
			}
		}

		.description-category{
			width: 50%;
			padding-right: 72px;
			box-sizing: border-box;

			.description-category-block{
				display: flex;
				border-bottom: 1px solid #ffffff;
				padding: 25px 0px;

				p{
					font-size: 20px;
					margin-right: 30px;		
				}
			}
		}
	}

	.duo-images{
		margin-top: 230px;
		display: flex;
		flex-wrap: wrap;
		// align-items: center;
		justify-content: space-between;
		width: 100%;
		height: auto;
		padding: 0 75px;
		box-sizing: border-box;

		img{
			width: 48%;
			height: auto;
			border: 1px solid white;
			margin-bottom: 70px;
		}
	}

	.content{
		margin-top: 130px;
		display: flex;
		width: 100%;
		padding: 0px 75px;
		box-sizing: border-box;

		.content-intro{
			width: 50%;
			// padding-left: 72px;
			box-sizing: border-box;

			h4{
				font-size: 41px;
			}

			p{
				font-size: 16px;
				width: 80%;
				margin-top: 33px;
			}
		}

		.content-text{
			width: 50%;
			padding-right: 72px;
			box-sizing: border-box;

			p{
				font-size: 16px;
				margin-top: 33px;
			}
			
		}
	}

	.quotes{
		margin-top: 130px;
		display: flex;
		width: 100%;
		background-color: #ffffff;
		padding: 71px 238px;
		box-sizing: border-box;
		justify-content: center;

		p{
			color: #000000;
			font-size: 42px;
			text-align: center;
			font-style: italic;
			font-weight: normal;
			width: 964px;
		}
	}

	.video{
		margin-top: 130px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		video{
			width: 60%;
			height: auto;
		}
	}

	.conclusion{
		margin-top: 130px;
		display: flex;
		width: 100%;
		padding: 0px 75px;
		box-sizing: border-box;

		.conclusion-intro{
			width: 50%;
			box-sizing: border-box;

			h4{
				font-size: 41px;
			}

			p{
				font-size: 16px;
				width: 489px;
				margin-top: 33px;
			}
		}

		.conclusion-text{
			width: 50%;
			padding-right: 72px;
			box-sizing: border-box;

			p{
				font-size: 16px;
				width: 489px;
				margin-top: 33px;
			}
			
		}
	}

	.next-project{
		width: 100%;
		background-color: #ffffff;
		padding: 56px 75px 56px 0;
		box-sizing: border-box;
		margin-top: 190px;

		.next-project-button{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			cursor: pointer;

			.ligne{
				width: 67px;
				height: 1px;
				background-color: #000000;
			}

			a{
				font-weight: bold;
				font-size: 27px;
				color: #000000;
				text-decoration: none;
				margin-left: 30px;
			}
		}
	}

	footer{
		width: 100%;
		padding: 72px 0;
		box-sizing: border-box;

		p{
			font-size: 27px;
			text-align: center;
		}
	}
}

[class*="reveal-"]{
	opacity: 0;
	transform: translateY(-30px);
}

.reveal-visible{
	opacity: 1;
	transform: translateY(0px);
	transition-duration: 1s;
	transition-timing-function: ease;
}

.reveal-subtitle{
	transition-delay: .3s;
}

@media screen and (max-width: 1200px) and (min-width: 1025px){
	.container{

		.description{
			flex-direction: column;
		}

		.description-category{
			margin-top: 50px;
		}

		.duo-images{
			margin-top: 50px;
		}
	}
}

@media screen and (max-width: 1024px){
	.container{
		height: auto;
		// background-color: lightcoral;

		.title-info{
			margin-top: 120px;
			h2{
				font-size: 40px;
				z-index: 1;
			}
		}

		.cover{
			margin-top: 50px;
			.cover-image{
				width: 80%;				
				img{
					width: 100%;
					height: auto;
				}
			}
		}

		.description{
			flex-direction: column;
			margin-top: 30px;
			width: 100%;
			padding: 0;
			align-items: center;
			justify-content: center;

			.description-intro{
				width: 80%;

				h4{
					font-size: 30px;
				}

				p{
					width: auto !important;
				}
			}
		}

		.description-category{
			width: 80% !important;
			padding-right: 0 !important;
			box-sizing: border-box;
			margin-top: 50px;

			p{
				font-size: 16px !important;	
			}
		}

		.duo-images{
			margin-top: 50px;
			padding: 0;
			flex-direction: column;
			align-items: center;

			img{
				width: 80%;
			}
		}

		.content{
			margin-top: 0px;
			padding: 0;
			align-items: center;
			flex-direction: column;

			.content-intro{
				width: 80%;

				h4{
					font-size: 30px;
				}

				p{
					margin: 0 !important;
					padding: 0;
					width: 100%;
					padding-top: 30px;
				}
			}

			.content-text{
				width: 80%;
				margin: 0;
				padding: 0;

				p{
					margin: 0 !important;
					padding: 0;
					width: 100%;
					padding-top: 30px;
				}
			}
		}

		.quotes{
			padding: 10px 20px;
			margin-top: 50px;
			box-sizing: border-box;

			p{
				font-size: 30px;
			}
		}

		.video{
			margin-top: 50px;

			video{
				width: 80%;
			}
		}

		.conclusion{
			margin-top: 50px;
			padding: 0;
			justify-content: center;

			.conclusion-intro{
				width: 80%;

				h4{
					font-size: 30px;
				}
				
				p{
					width: auto !important;
				}
			}
		}

		.next-project{
			margin-top: 50px;
			padding: 20px 30px;

			a{
				font-size: 20px !important;
			}
		}

		footer{
			padding: 30px 0;

			p{
				font-size: 20px;
			}
		}
	}
}

// @media screen and (max-width: 430px){
// 	.container{
// 		height: auto;
// 		background-color: lightcoral;

// 		.title-info{
// 			h2{
// 				font-size: 40px;
// 				z-index: 1;
// 			}
// 		}

// 		.cover{
// 			margin-top: 50px;
// 			.cover-image{
// 				width: 80%;
	
// 				img{
// 					width: 100%;
// 					height: auto;
// 				}
// 			}
// 		}

// 		.description{
// 			flex-direction: column;
// 			margin-top: 30px;
// 			width: 100%;
// 			padding: 0;
// 			align-items: center;
// 			justify-content: center;

// 			.description-intro{
// 				width: 80%;

// 				h4{
// 					font-size: 30px;
// 				}

// 				p{
// 					width: auto !important;
// 				}
// 			}
// 		}

// 		.description-category{
// 			width: 80% !important;
// 			padding-right: 0 !important;
// 			box-sizing: border-box;
// 			margin-top: 50px;

// 			p{
// 				font-size: 16px !important;	
// 			}
// 		}

// 		.duo-images{
// 			margin-top: 50px;
// 			padding: 0;
// 			flex-direction: column;
// 			align-items: center;

// 			img{
// 				width: 80%;
// 			}
// 		}

// 		.content{
// 			margin-top: 50px;
// 			padding: 0;
// 			align-items: center;
// 			flex-direction: column;

// 			.content-intro{
// 				width: 80%;

// 				h4{
// 					font-size: 30px;
// 				}

// 				p{
// 					margin: 0 !important;
// 					padding: 0;
// 					width: 100%;
// 					padding-top: 30px;
// 				}
// 			}

// 			.content-text{
// 				width: 80%;
// 				margin: 0;
// 				padding: 0;

// 				p{
// 					margin: 0 !important;
// 					padding: 0;
// 					width: 100%;
// 					padding-top: 30px;
// 				}
// 			}
// 		}

// 		.quotes{
// 			padding: 10px 20px;
// 			margin-top: 50px;
// 			box-sizing: border-box;

// 			p{
// 				font-size: 30px;
// 			}
// 		}

// 		.video{
// 			margin-top: 50px;

// 			video{
// 				width: 80%;
// 			}
// 		}

// 		.conclusion{
// 			margin-top: 50px;
// 			padding: 0;
// 			justify-content: center;

// 			.conclusion-intro{
// 				width: 80%;

// 				h4{
// 					font-size: 30px;
// 				}
				
// 				p{
// 					width: auto !important;
// 				}
// 			}
// 		}

// 		.next-project{
// 			margin-top: 50px;
// 			padding: 20px 30px;

// 			a{
// 				font-size: 20px !important;
// 			}
// 		}

// 		footer{
// 			padding: 30px 0;

// 			p{
// 				font-size: 20px;
// 			}
// 		}
// 	}
// }