@import '../../styles/mixins/_typography.scss';  

.container-project{ 
	display: flex;
	flex-direction: column;
    height: auto;
    opacity: 1;
	animation: opacity 1.5s 1 backwards;
	background-color: var(--dark-background);
	
	@keyframes opacity {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.block-cover{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-top: 130px;
		box-sizing: border-box;
		overflow: hidden;
 
		.block-cover__image{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			height: 50%;

			img{
				width: 70%;				
				height: auto;
			}
		}
	}

	.block-description{
		display: flex;
		width: 100%;
		margin-top: 100px;
		padding: 0px 75px;
		box-sizing: border-box;

		.block-description__intro{
			width: 50%;
			box-sizing: border-box;

			h4{
				@include title_second;
				color: var(--light-font);
				margin-bottom: 33px;
			}

			p{
				@include body;
				color: var(--light-font);
				width: 489px;
				white-space: normal;
			}

			a{
				text-decoration: none;

				.block-description__intro__discover{
					display: flex;
					align-items: center;
					width: auto;
					cursor: pointer;

					p{
						font-size: 20px;
						margin: 0;
						width: auto;
					}

					.block-description__intro__discover--line{
						margin-left: 10px;
						width: 50px;
						height: 1px;
						background-color: var(--light-background)
					}

					&:hover .block-description__intro__discover--line{
						animation: ligne 1s 1 normal;
					}

					@keyframes ligne{
						0%{
							width: 0px;
						}
						100%{
							width: 50px;
						}
					}
				}
			}

			.block-description__intro__discover{
				display: flex;
				align-items: center;
				width: auto;
				cursor: pointer;
				margin-top: 30px;

				&:hover .block-description__intro__discover--line{
					animation: ligne 1s 1 normal;
				}

				@keyframes ligne{
					0%{
						width: 0px;
					}
					100%{
						width: 50px;
					}
				}

				p{
					@include link;  
					width: auto;
				}

				.block-description__intro__discover--line{
					margin-left: 10px;
					width: 50px;
					height: 1px;
					background-color: var(--light-background);
				}
			}
		}

		.block-description__category{
			width: 50%;
			padding-right: 72px;
			box-sizing: border-box;

			.block-description__category__section{
				display: flex;
				border-bottom: 1px solid var(--light-background);
				padding: 25px 0px;

				p{
					color: var(--light-font);
					@include caption;
				}

				p:nth-child(1){
					@include caption;
					color: var(--grey-font);
					margin-right: 30px;		
				}
			}
		}
	} 
	
	.block-model{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: auto;
		background-color: #ffffff;
		margin-top: 120px;
		padding: 100px 0;

		img{
			width: 80%;
			height: auto;
			margin: 30px 0;
			box-shadow: 8px 8px 12px rgb(196, 196, 196);
		}
	}

	.block-content{
		margin-top: 130px;
		display: flex;
		width: 100%;
		padding: 0px 75px;
		box-sizing: border-box;

		.block-content__intro{
			width: 50%;
			// padding-left: 72px;
			box-sizing: border-box;

			h4{
				@include title_second;
				color: var(--light-font);
			}

			p{
				@include body;
				color: var(--light-font);
				width: 80%;
				margin-top: 33px;
				white-space: normal;
			}
		}

		.block-content__text{
			width: 50%;
			padding-right: 72px;
			box-sizing: border-box;

			p{
				@include body;
				color: var(--light-font);
				margin-top: 33px;
				white-space: normal;
			}
			
		}
	}

	.block-graphical-charter{
		margin-top: 130px;
		display: flex;
		width: 100%;
		padding: 0px 75px;
		box-sizing: border-box;
		flex-direction: column;

		.block-graphical-charter__content{
			display: flex;
			margin-top: 40px;

			.block-graphical-charter__content__colors{
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				width: 50%;
				height: auto;

				img{
					width: 60%;
					height: auto;
				}

				h4{
					@include title_second;
					color: var(--light-font);
					width: 100%;
					margin-bottom: 50px;
				}
			}

			.block-graphical-charter__content__typographies{
				width: 50%;

				h4{
					@include title_second;
					color: var(--light-font);
					width: 100%;
					margin-bottom: 50px;
				}

				img{
					width: 25%;
					height: auto;
				}
			}
		}
	}

	.block-quotes{
		margin-top: 130px;
		display: flex;
		width: 100%;
		background-color: var(--light-background);
		padding: 71px 238px;
		box-sizing: border-box;
		justify-content: center;

		p{
			color: var(--dark-font);
			font-family: 'DidotLTStd-Italic';
			font-size: 42px;
			text-align: center;
			font-weight: normal;
			width: 964px;
			white-space: normal;
		}
	}

	.block-conclusion{
		margin-top: 130px;
		display: flex;
		width: 100%;
		padding: 0px 75px;
		box-sizing: border-box;

		.block-conclusion__intro{
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;
			box-sizing: border-box;

			h4{
				@include title_second;
				color: var(--light-font);
			}

			p{
				@include body;
				color: var(--light-font);
				width: 489px;
				margin-top: 33px;
				white-space: normal;
			}
		}

		.block-mockup{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			height: auto;
			box-sizing: border-box;

			img{
				width: 75%;
				height: auto;
			}
			
		}
	}

	.block-next-project{
		width: 100%;
		background-color: var(--light-background);
		padding: 56px 75px 56px 0;
		box-sizing: border-box;
		margin-top: 190px;

		.block-next-project__button{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			cursor: pointer;

			.block-next-project__button--line{
				width: 67px;
				height: 1px;
				background-color: var(--dark-background);
			}

			a{
				font-family: 'DidotLTStd-Bold';
				font-size: 27px;
				color: var(--dark-font);
				text-decoration: none;
				margin-left: 30px;
			}
		}
	}

	footer{
		width: 100%;
		padding: 72px 0;
		box-sizing: border-box;

		p{
			font-size: 27px;
			color: var(--light-font);
			text-align: center;
			font-family: 'DidotLTStd-Italic';
		}
	}
}

[class*="reveal-"]{
	opacity: 0;
	transform: translateY(-30px);
}

.reveal-visible{
	opacity: 1;
	transform: translateY(0px);
	transition-duration: 1s;
	transition-timing-function: ease;
}

.reveal-subtitle{
	transition-delay: .3s;
}

@media screen and (max-width: 1200px) and (min-width: 1025px){
	.container-project{

		.block-description{
			flex-direction: column;
		}

		.block-description__category{
			margin-top: 50px;
		}

		.block-model{
			margin-top: 50px;
		}
	}
}

@media screen and (max-width: 1024px){
	.container-project{
		height: auto;
		// background-color: lightcoral;

		.block-cover{
			margin-top: 120px;
			.cover-image{
				width: 80%;				
				img{
					width: 100%;
					height: auto;
				}
			}
		}

		.block-description{
			flex-direction: column;
			margin-top: 30px;
			width: 100%;
			padding: 0;
			align-items: center;
			justify-content: center;

			.block-description__intro{
				width: 80%;

				h4{
					font-size: 30px;
				}

				p{
					width: auto !important;
				}
			}
		}

		.block-description__category{
			width: 80% !important;
			padding-right: 0 !important;
			box-sizing: border-box;
			margin-top: 50px;

			p{
				font-size: 16px !important;	
			}
		}

		.block-model{
			margin-top: 50px;
			padding: 0;
			flex-direction: column;
			align-items: center;

			img{
				width: 80%;
			}
		}

		.block-content{
			margin-top: 50px;
			padding: 0;
			align-items: center;
			flex-direction: column;

			.block-content__intro{
				width: 80%;

				h4{
					font-size: 30px;
				}

				p{
					margin: 0 !important;
					padding: 0;
					width: 100%;
					padding-top: 30px;
				}
			}

			.block-content__text{
				width: 80%;
				margin: 0;
				padding: 0;

				p{
					margin: 0 !important;
					padding: 0;
					width: 100%;
					padding-top: 30px;
				}
			}
		}

		.block-graphical-charter{
			margin-top: 50px;

			.block-graphical-charter__content__typographies img{
				width: 45% !important;
			}
		}

		.block-quotes{
			padding: 20px 30px;
			margin-top: 50px;
			box-sizing: border-box;

			p{
				font-size: 30px;
			}
		}


		.block-conclusion{
			flex-direction: column;
			align-items: center;
			margin-top: 50px;
			padding: 0;
			justify-content: center;

			.block-conclusion__intro{
				width: 80%;

				h4{
					font-size: 30px;
				}
				
				p{
					width: auto !important;
				}
			}

			.block-mockup{
				margin-top: 30px;

				video{
					width: 160%;
				}
			}
			
		}

		.block-next-project{
			margin-top: 50px;
			padding: 20px 30px;

			a{
				font-size: 20px !important;
			}
		}

		footer{
			padding: 30px 0;

			p{
				font-size: 20px;
			}
		}
	}
}

@media screen and (max-width: 430px){
	.container-project{
		height: auto;

		.block-cover{
			margin-top: 120px;
			.block-cover__image{
				width: 80%;
	
				img{
					width: 100%;
					height: auto;
				}
			}
		}

		.block-description{
			flex-direction: column;
			margin-top: 30px;
			width: 100%;
			padding: 0;
			align-items: center;
			justify-content: center;

			.block-description__intro{
				width: 80%;

				h4{
					font-size: 30px;
				}

				p{
					width: auto !important;
				}
			}
		}

		.block-description__category{
			width: 80% !important;
			padding-right: 0 !important;
			box-sizing: border-box;
			margin-top: 50px;

			p{
				font-size: 16px !important;	
			}
		}

		.block-model{
			margin-top: 50px;
			padding: 0;
			flex-direction: column;
			align-items: center;

			img{
				width: 80%;
			}
		}

		.block-content{
			margin-top: 50px;
			padding: 0;
			align-items: center;
			flex-direction: column;

			.block-content__intro{
				width: 80%;

				h4{
					font-size: 30px;
				}

				p{
					margin: 0 !important;
					padding: 0;
					width: 100%;
					padding-top: 30px;
				}
			}

			.block-content__text{
				width: 80%;
				margin: 0;
				padding: 0;

				p{
					margin: 0 !important;
					padding: 0;
					width: 100%;
					padding-top: 30px;
				}
			}
		}

		.block-graphical-charter{
			display: flex;
			align-items: center;
			padding: 0;
			margin-top: 50px;

			.block-graphical-charter__content{
				width: 80%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				.block-graphical-charter__content__colors{
					margin-bottom: 50px;
					h4{
						font-size: 30px;
					}

					img{
						width: 95% !important;
					}
				}

				.block-graphical-charter__content__typographies{

					h4{
						font-size: 30px;
					}

					img{
						width: 95% !important;
					}
				}

			}
		}

		.block-quotes{
			padding: 10px 20px;
			margin-top: 50px;
			box-sizing: border-box;

			p{
				font-size: 30px;
			}
		}

		.block-conclusion{
			margin-top: 50px;
			padding: 0;
			justify-content: center;

			.block-conclusion__intro{
				width: 80%;

				h4{
					font-size: 30px;
				}
				
				p{
					width: auto !important;
				}
			}

			.block-mockup{
				img{
					width: 140%;
					height: auto;
				}

				video{
					width: 160%;
				}
			}
		}

		.block-next-project{
			margin-top: 50px;
			padding: 20px 30px;

			a{
				font-size: 20px !important;
			}
		}

		footer{
			padding: 30px 0;

			p{
				font-size: 20px;
			}
		}
	}
}