.container {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100vh;
  opacity: 1;
  animation: opacity 1.5s 1 backwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container .title-info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 160px;
}

.container .title-info h2 {
  font-size: 68px;
  z-index: 1;
}

.container .presentation-info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.container .presentation-info h3 {
  font-size: 30px;
}

.container .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 130px;
  box-sizing: border-box;
}

.container .cover .cover-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

.container .cover .cover-image img {
  width: 100%;
  height: auto;
}

.container .description {
  display: flex;
  width: 100%;
  margin-top: 190px;
  padding: 0px 75px;
  box-sizing: border-box;
}

.container .description .description-intro {
  width: 50%;
  box-sizing: border-box;
}

.container .description .description-intro h4 {
  font-size: 41px;
}

.container .description .description-intro p {
  font-size: 16px;
  width: 489px;
  margin-top: 33px;
}

.container .description .description-intro .discover {
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.container .description .description-intro .discover .ligne {
  width: 67px;
  height: 1px;
  background-color: #ffffff;
}

.container .description .description-intro .discover a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 34px;
}

.container .description .description-category {
  width: 50%;
  padding-right: 72px;
  box-sizing: border-box;
}

.container .description .description-category .description-category-block {
  display: flex;
  border-bottom: 1px solid #ffffff;
  padding: 25px 0px;
}

.container .description .description-category .description-category-block p {
  font-size: 20px;
  margin-right: 30px;
}

.container .duo-images {
  margin-top: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0 75px;
  box-sizing: border-box;
}

.container .duo-images img {
  width: 48%;
  height: auto;
  border: 1px solid white;
  margin-bottom: 70px;
}

.container .content {
  margin-top: 130px;
  display: flex;
  width: 100%;
  padding: 0px 75px;
  box-sizing: border-box;
}

.container .content .content-intro {
  width: 50%;
  box-sizing: border-box;
}

.container .content .content-intro h4 {
  font-size: 41px;
}

.container .content .content-intro p {
  font-size: 16px;
  width: 80%;
  margin-top: 33px;
}

.container .content .content-text {
  width: 50%;
  padding-right: 72px;
  box-sizing: border-box;
}

.container .content .content-text p {
  font-size: 16px;
  margin-top: 33px;
}

.container .quotes {
  margin-top: 130px;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 71px 238px;
  box-sizing: border-box;
  justify-content: center;
}

.container .quotes p {
  color: #000000;
  font-size: 42px;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  width: 964px;
}

.container .video {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container .video video {
  width: 60%;
  height: auto;
}

.container .conclusion {
  margin-top: 130px;
  display: flex;
  width: 100%;
  padding: 0px 75px;
  box-sizing: border-box;
}

.container .conclusion .conclusion-intro {
  width: 50%;
  box-sizing: border-box;
}

.container .conclusion .conclusion-intro h4 {
  font-size: 41px;
}

.container .conclusion .conclusion-intro p {
  font-size: 16px;
  width: 489px;
  margin-top: 33px;
}

.container .conclusion .conclusion-text {
  width: 50%;
  padding-right: 72px;
  box-sizing: border-box;
}

.container .conclusion .conclusion-text p {
  font-size: 16px;
  width: 489px;
  margin-top: 33px;
}

.container .next-project {
  width: 100%;
  background-color: #ffffff;
  padding: 56px 75px 56px 0;
  box-sizing: border-box;
  margin-top: 190px;
}

.container .next-project .next-project-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.container .next-project .next-project-button .ligne {
  width: 67px;
  height: 1px;
  background-color: #000000;
}

.container .next-project .next-project-button a {
  font-weight: bold;
  font-size: 27px;
  color: #000000;
  text-decoration: none;
  margin-left: 30px;
}

.container footer {
  width: 100%;
  padding: 72px 0;
  box-sizing: border-box;
}

.container footer p {
  font-size: 27px;
  text-align: center;
}

[class*="reveal-"] {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 1s;
  transition-timing-function: ease;
}

.reveal-subtitle {
  transition-delay: .3s;
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .container .description {
    flex-direction: column;
  }
  .container .description-category {
    margin-top: 50px;
  }
  .container .duo-images {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: auto;
  }
  .container .title-info {
    margin-top: 120px;
  }
  .container .title-info h2 {
    font-size: 40px;
    z-index: 1;
  }
  .container .cover {
    margin-top: 50px;
  }
  .container .cover .cover-image {
    width: 80%;
  }
  .container .cover .cover-image img {
    width: 100%;
    height: auto;
  }
  .container .description {
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .container .description .description-intro {
    width: 80%;
  }
  .container .description .description-intro h4 {
    font-size: 30px;
  }
  .container .description .description-intro p {
    width: auto !important;
  }
  .container .description-category {
    width: 80% !important;
    padding-right: 0 !important;
    box-sizing: border-box;
    margin-top: 50px;
  }
  .container .description-category p {
    font-size: 16px !important;
  }
  .container .duo-images {
    margin-top: 50px;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .container .duo-images img {
    width: 80%;
  }
  .container .content {
    margin-top: 0px;
    padding: 0;
    align-items: center;
    flex-direction: column;
  }
  .container .content .content-intro {
    width: 80%;
  }
  .container .content .content-intro h4 {
    font-size: 30px;
  }
  .container .content .content-intro p {
    margin: 0 !important;
    padding: 0;
    width: 100%;
    padding-top: 30px;
  }
  .container .content .content-text {
    width: 80%;
    margin: 0;
    padding: 0;
  }
  .container .content .content-text p {
    margin: 0 !important;
    padding: 0;
    width: 100%;
    padding-top: 30px;
  }
  .container .quotes {
    padding: 10px 20px;
    margin-top: 50px;
    box-sizing: border-box;
  }
  .container .quotes p {
    font-size: 30px;
  }
  .container .video {
    margin-top: 50px;
  }
  .container .video video {
    width: 80%;
  }
  .container .conclusion {
    margin-top: 50px;
    padding: 0;
    justify-content: center;
  }
  .container .conclusion .conclusion-intro {
    width: 80%;
  }
  .container .conclusion .conclusion-intro h4 {
    font-size: 30px;
  }
  .container .conclusion .conclusion-intro p {
    width: auto !important;
  }
  .container .next-project {
    margin-top: 50px;
    padding: 20px 30px;
  }
  .container .next-project a {
    font-size: 20px !important;
  }
  .container footer {
    padding: 30px 0;
  }
  .container footer p {
    font-size: 20px;
  }
}
