.container{ 
	display: flex;
	flex-direction: column;
    color: white;
    height: 100vh;
    opacity: 1;
	animation: opacity 1.5s 1 backwards;
	
	@keyframes opacity {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.title-info{
		display: flex;
		justify-content: center; 
		width: 100%;
		height: auto;
		margin-top: 160px;

		h2{
			font-size: 68px;
			z-index: 1;
		}

	}

	.presentation-info{
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;

		h3{
			font-size: 30px;
		}
	}

	.cover{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		// height: 40%;
		margin-top: 130px;
		// padding: 0px 75px;
		box-sizing: border-box;

		.cover-image{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			height: auto;
			background-color: crimson;

			img{
				width: 100%;
				height: auto;
			}
		}
	}

	.description{
		display: flex;
		width: 100%;
		margin-top: 190px;
		padding: 0px 75px;
		box-sizing: border-box;

		.description-intro{
			width: 50%;
			box-sizing: border-box;

			h4{
				font-size: 41px;
			}

			p{
				font-size: 16px;
				width: 489px;
				margin-top: 33px;
			}

			.discover{
				display: flex;
				align-items: center;
				margin-top: 30px;
				cursor: pointer;

				.ligne{
					width: 67px;
					height: 1px;
					background-color: #ffffff;
				}

				a{
					font-size: 18px;
					text-decoration: none;
					color: #ffffff;
					margin-left: 34px;
				}
			}
		}

		.description-category{
			width: 50%;
			padding-right: 72px;
			box-sizing: border-box;

			.description-category-block{
				display: flex;
				border-bottom: 1px solid #ffffff;
				padding: 25px 0px;

				p{
					font-size: 20px;
					margin-right: 30px;		
				}
			}
		}
	}

	.second-image{
		margin-top: 230px;
		display: flex;
		width: 100%;
		height: 458px;
		background-color: #ffffff;
	}

	.content{
		margin-top: 130px;
		display: flex;
		width: 100%;
		padding: 0px 75px;
		box-sizing: border-box;

		.content-intro{
			width: 50%;
			// padding-left: 72px;
			box-sizing: border-box;

			h4{
				font-size: 41px;
			}

			p{
				font-size: 16px;
				width: 489px;
				margin-top: 33px;
			}
		}

		.content-text{
			width: 50%;
			padding-right: 72px;
			box-sizing: border-box;

			p{
				font-size: 16px;
				width: 489px;
				margin-top: 33px;
			}
			
		}
	}

	.quotes{
		margin-top: 130px;
		display: flex;
		width: 100%;
		background-color: #ffffff;
		padding: 71px 238px;
		box-sizing: border-box;
		justify-content: center;

		p{
			color: #000000;
			font-size: 42px;
			text-align: center;
			font-style: italic;
			font-weight: normal;
			width: 964px;
		}
	}

	.video{
		margin-top: 130px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		.video-container{
			width: 950px;
			height: 458px;
			background-color: grey;
		}
	}

	.conclusion{
		margin-top: 130px;
		display: flex;
		width: 100%;
		padding: 0px 75px;
		box-sizing: border-box;

		.conclusion-intro{
			width: 50%;
			box-sizing: border-box;

			h4{
				font-size: 41px;
			}

			p{
				font-size: 16px;
				width: 489px;
				margin-top: 33px;
			}
		}

		.conclusion-text{
			width: 50%;
			padding-right: 72px;
			box-sizing: border-box;

			p{
				font-size: 16px;
				width: 489px;
				margin-top: 33px;
			}
			
		}
	}

	.next-project{
		width: 100%;
		background-color: #ffffff;
		padding: 56px 75px 56px 0;
		box-sizing: border-box;
		margin-top: 190px;

		.next-project-button{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			cursor: pointer;

			.ligne{
				width: 67px;
				height: 1px;
				background-color: #000000;
			}

			a{
				font-weight: bold;
				font-size: 27px;
				color: #000000;
				text-decoration: none;
				margin-left: 30px;
			}
		}
	}

	footer{
		width: 100%;
		padding: 72px 0;
		box-sizing: border-box;

		p{
			font-size: 27px;
			text-align: center;
		}
	}
}

[class*="reveal-"]{
	opacity: 0;
	transform: translateY(-30px);
}

.reveal-visible{
	opacity: 1;
	transform: translateY(0px);
	transition-duration: 1s;
	transition-timing-function: ease;
}

.reveal-subtitle{
	transition-delay: .3s;
}

