.navbar {
  z-index: 3;
}

.navbar .name {
  margin-top: 67px;
  padding-left: 75px;
  left: 0;
  position: absolute;
  z-index: 4;
}

.navbar .name a {
  text-decoration: none;
}

.navbar .name a h1 {
  color: white;
  font-size: 30px;
  font-style: italic;
  text-decoration: none;
  margin: 0;
}

.navbar .name a .underligne {
  width: 80px;
  height: 1px;
  background-color: #ffffff;
}

.navbar .menu {
  margin-top: 67px;
  padding-right: 75px;
  right: 0;
  position: absolute;
  cursor: pointer;
  z-index: 4;
}

.navbar .menu .line-menu {
  height: 1px;
  background-color: #ffffff;
  margin: 10px 0;
}

.navbar .menu .line-menu:nth-child(1) {
  width: 33px;
}

.navbar .menu .line-menu:nth-child(2) {
  width: 17px;
}

.navbar .menu .line-menu:nth-child(3) {
  width: 33px;
}

.navbar-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #252525;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
}

.navbar-open .list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 80%;
  text-align: center;
  /* background-color: teal; */
}

.navbar-open .list .list-link {
  margin: 30px 0;
}

.navbar-open .list .list-link a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-open .list .list-link a p {
  margin: 0;
  font-size: 60px;
  color: #ffffff;
  text-decoration: none;
  font-style: italic;
  cursor: pointer;
}

.navbar-open .list .list-link a .underligne {
  width: 150px;
  height: 1px;
  background-color: #ffffff;
}

.navbar-open .list .image {
  position: absolute;
  opacity: 1;
  width: 140px;
  height: 140px;
}

.navbar-open .list .image:nth-of-type(1) {
  top: 300px;
  left: 0px;
  animation-delay: 0s;
}

.navbar-open .list .image:nth-of-type(2) {
  top: 60px;
  left: 420px;
  animation-delay: 0s;
}

.navbar-open .list .image:nth-of-type(3) {
  top: 300px;
  right: 100px;
  animation-delay: .5s;
}

.navbar-open .list .image:nth-of-type(4) {
  top: 636px;
  right: 165px;
  animation-delay: 1s;
}

.navbar-open .list .image:nth-of-type(5) {
  top: 600px;
  left: 139px;
  animation-delay: 1.5s;
}

.navbar-open .list .image:nth-of-type(6) {
  top: 100px;
  right: 300px;
  animation-delay: 2s;
}
