.navbar {
  z-index: 3;
}

.navbar .name {
  margin-top: 67px;
  padding-left: 75px;
  left: 0;
  position: absolute;
  z-index: 4;
}

.navbar .name:hover .underligne {
  animation: underligne 1s 1 normal;
}

.navbar .name a {
  text-decoration: none;
}

.navbar .name a h1 {
  color: white;
  font-size: 30px;
  font-style: italic;
  text-decoration: none;
}

.navbar .name a .open-title {
  color: #252525;
}

.navbar .name a .underligne {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.navbar .name a .underligne.open-title {
  background-color: #252525;
}

.navbar .menu {
  margin-top: 67px;
  padding-right: 75px;
  right: 0;
  position: absolute;
  cursor: pointer;
  z-index: 4;
}

.navbar .menu:hover .line-menu:nth-child(2) {
  width: 33px;
  transition: all linear 0.5s;
}

.navbar .menu .line-menu {
  height: 2px;
  background-color: #ffffff;
  margin: 10px 0;
}

.navbar .menu .line-menu:nth-child(1) {
  width: 33px;
}

.navbar .menu .line-menu:nth-child(2) {
  width: 17px;
}

.navbar .menu .line-menu:nth-child(3) {
  width: 33px;
}

.navbar .menu.menu_open .line-menu {
  height: 2px;
  background-color: #252525;
  margin: 10px 0;
  transition: all ease-in-out 0.5s;
}

.navbar .menu.menu_open .line-menu:nth-child(1) {
  width: 33px;
  transform: translateY(11px) rotate(45deg);
}

.navbar .menu.menu_open .line-menu:nth-child(2) {
  width: 33px;
  opacity: 0;
}

.navbar .menu.menu_open .line-menu:nth-child(3) {
  width: 33px;
  transform: translateY(-12px) rotate(-45deg);
}

.navbar .menu.menu_open:hover {
  opacity: 0.5;
}

.navbar-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 3;
  transform: translateX(100%);
  position: fixed;
}

.navbar-open.transition-open {
  transition: all ease 1.5s;
  transform: translateX(0%);
}

.navbar-open.transition-close {
  transition: all ease 1.5s;
  transform: translateX(100%);
}

.navbar-open .list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 80%;
  text-align: center;
}

.navbar-open .list .list-link {
  margin: 30px 0;
}

.navbar-open .list .list-link a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.navbar-open .list .list-link a p {
  font-size: 60px;
  color: #252525;
  text-decoration: none;
  cursor: pointer;
}

.navbar-open .list .list-link a .underligne {
  display: flex;
  width: 0%;
  height: 1px;
  background-color: #252525;
}

.navbar-open .list .list-link a:hover {
  font-style: italic;
  transition: font-weight ease 1s;
}

.navbar-open .list .list-link a:hover .underligne {
  animation: underligne 1s 1 normal;
  width: 100%;
}

@keyframes underligne {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
