.container {
  display: flex;
  color: white;
  padding-left: 75px;
  height: 100vh;
  opacity: 1;
  animation: opacity 1.5s 1 backwards;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container .title-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 49px;
  border-right: 1px #ffffff solid;
  margin-right: 10px;
  width: 25%;
}

.container .title-block .title {
  position: absolute;
  top: 420px;
}

.container .title-block .title h2 {
  font-size: 60px;
  font-weight: normal;
}

.container .title-block .title h2 span {
  font-style: italic;
}

.container .title-block .image {
  padding-top: 360px;
  padding-left: 90px;
  height: 80%;
}

.container .title-block .image .image img {
  width: 70%;
  height: auto;
}

.container .projects {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.container .projects::-webkit-scrollbar {
  display: none;
}

.container .projects .block-project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border-left: 1px #ffffff solid;
}

.container .projects .block-project .main-project {
  display: flex;
  width: 400px;
  height: 600px;
}

.container .projects .block-project .main-project .text-left {
  width: 10%;
}

.container .projects .block-project .main-project .text-left p {
  transform: rotate(90deg);
}

.container .projects .block-project .main-project .cover-project {
  width: 80%;
  height: 600px;
}

.container .projects .block-project .main-project .cover-project:hover .image-project img {
  width: 130%;
  transition: width 1s ease;
  filter: grayscale(0%);
}

.container .projects .block-project .main-project .cover-project .image-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  background-color: brown;
  overflow: hidden;
}

.container .projects .block-project .main-project .cover-project .image-project img {
  width: 115%;
  height: auto;
  filter: grayscale(100%);
  transition: width 1s ease;
}

.container .projects .block-project .main-project .cover-project .text-project {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 20%;
}

.container .projects .block-project .main-project .cover-project .text-project h3 {
  margin: 0;
  margin-top: 5px;
  font-size: 30px;
  font-weight: normal;
}

.container .projects .block-project .main-project .cover-project .text-project a {
  text-decoration: none;
  color: #ffffff;
}

.container .projects .block-project .main-project .cover-project .text-project a .see-more {
  display: flex;
  align-items: center;
  width: auto;
  cursor: pointer;
}

.container .projects .block-project .main-project .cover-project .text-project a .see-more:hover .line {
  animation: ligne 1s 1 normal;
}

@keyframes ligne {
  0% {
    width: 0px;
  }
  100% {
    width: 50px;
  }
}

.container .projects .block-project .main-project .cover-project .text-project a .see-more p {
  font-size: 16px;
  font-style: italic;
}

.container .projects .block-project .main-project .cover-project .text-project a .see-more .line {
  margin-left: 10px;
  width: 50px;
  height: 1px;
  background-color: #ffffff;
}

.container .projects .block-project .main-project .text-right {
  width: 10%;
}

.container .projects .block-project .main-project .text-right p {
  transform: rotate(90deg);
}
