.container{
	display: flex;
	flex-direction: column;
    color: white;
    padding-left: 75px;
    height: 100vh;
    opacity: 1;
	animation: opacity 1.5s 1 backwards;
	
	@keyframes opacity {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.title-info{
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;
		margin-top: 160px;

		h2{
			font-size: 68px;
			z-index: 1;
		}

		img{
			width: 5%;
			margin-left: -30px;
			margin-top: -20px;
		}
	}

	.description-info{
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;

		h3{
			font-size: 30px;
		}
	}
}