.container-contact {
  display: flex;
  padding-left: 75px;
  height: 100vh;
  opacity: 1;
  animation: opacity 1.5s 1 backwards;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--dark-background);
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-contact .block-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 49px;
  border-right: 1px #ffffff solid;
  margin-right: 10px;
  width: 25%;
}

.container-contact .block-left .block-left__title {
  position: absolute;
  top: 45vh;
  z-index: 1;
}

.container-contact .block-left .block-left__title h2 {
  font-size: 60px;
  font-family: 'Didot';
  color: var(--light-font);
}

.container-contact .block-left .block-left__title .block-left__subtitle {
  margin-top: 15px;
  display: flex;
}

.container-contact .block-left .block-left__title .block-left__subtitle p {
  font-size: 60px;
  font-family: 'DidotLTStd-Italic';
  color: var(--light-font);
  animation-name: opacity-title;
  animation-timing-function: ease-in-out;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(1) {
  animation-delay: .2s;
}

.container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(2) {
  animation-delay: .4s;
}

.container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(3) {
  animation-delay: .6s;
}

.container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(4) {
  animation-delay: .8s;
  padding-left: 10px;
}

.container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(5) {
  animation-delay: 1s;
}

.container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(6) {
  animation-delay: 1.2s;
}

.container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(7) {
  animation-delay: 1.4s;
}

.container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(8) {
  animation-delay: 1.6s;
}

.container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(9) {
  animation-delay: 1.8s;
}

.container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(10) {
  animation-delay: 2s;
}

.container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(11) {
  animation-delay: 2.2s;
}

@keyframes opacity-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-contact .block-left .block-left__icon {
  padding-top: 360px;
  padding-left: 90px;
  height: 80%;
}

.container-contact .block-left .block-left__icon .block-left__icon img {
  width: 70%;
  height: auto;
}

.container-contact .block-left .block-left__footer--big {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.container-contact .block-left .block-left__footer--big p {
  font-size: 18px;
  font-family: 'DidotLTStd-Italic';
  color: var(--light-font);
}

.container-contact .block-description {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 75%;
  border-left: 1px var(--light-background) solid;
  box-sizing: border-box;
  height: 30%;
}

.container-contact .block-description .block-description__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: initial;
}

.container-contact .block-description .block-description__content p {
  text-align: left;
  width: 60%;
  color: var(--light-font);
  font-size: 16px;
  font-family: 'Didot';
  line-height: 24px;
}

.container-contact .block-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  height: 70%;
  border-left: 1px var(--light-background) solid;
}

.container-contact .block-form form {
  display: flex;
  width: 30%;
  margin-top: 80px;
  flex-direction: column;
}

.container-contact .block-form form input {
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 10px 0;
  background-color: #252525;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--light-background);
  color: var(--light-font);
}

.container-contact .block-form form input::placeholder {
  color: var(--light-font);
  font-size: 16px;
  font-family: 'Didot';
  line-height: 24px;
}

.container-contact .block-form form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  padding-top: 10px;
  padding-bottom: 110px;
  background-color: #252525;
  color: var(--light-font);
  border-bottom: 1px solid var(--light-background);
}

.container-contact .block-form form textarea::placeholder {
  color: var(--light-font);
  font-size: 16px;
  font-family: 'Didot';
  line-height: 24px;
}

.container-contact .block-form form button {
  margin-top: 35px;
  padding: 7px 0;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid var(--light-background);
  color: var(--light-font);
  width: 100px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Didot';
  line-height: 24px;
}

.container-contact .block-form form button:hover {
  background-color: var(--light-background);
  color: var(--dark-background);
}

@media screen and (max-width: 1024px) and (min-width: 431px) {
  .container-contact {
    flex-wrap: wrap;
    overflow-y: scroll;
    height: auto;
    padding: 0;
  }
  .container-contact .block-left {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 150px;
    height: auto;
  }
  .container-contact .block-left .block-left__title {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0;
  }
  .container-contact .block-left .block-left__title h2 {
    font-size: 45px;
    font-weight: normal;
    margin: 0;
  }
  .container-contact .block-left .block-left__title .block-left__subtitle p {
    font-size: 45px;
  }
  .container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(4) {
    padding-left: 10px;
  }
  .container-contact .block-left .block-left__icon {
    display: none;
  }
  .container-contact .block-left .block-left__footer--big {
    display: none;
  }
  .container-contact .block-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: none;
    margin-top: 50px;
  }
  .container-contact .block-form {
    width: 100%;
    height: auto;
    margin-top: 50px;
    border: none;
  }
  .container-contact .block-form form {
    margin: 0;
  }
  .container-contact .block-footer--small {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .container-contact .block-footer--small p {
    margin: 0;
    font-family: 'DidotLTStd-Italic';
    color: var(--light-font);
  }
}

@media screen and (max-width: 430px) {
  .container-contact {
    padding: 0;
    overflow-y: scroll;
    height: auto;
  }
  .container-contact .block-left {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 120px;
  }
  .container-contact .block-left .block-left__title {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
  }
  .container-contact .block-left .block-left__title h2 {
    font-size: 35px;
    font-weight: normal;
    margin: 0;
  }
  .container-contact .block-left .block-left__title .block-left__subtitle {
    margin-left: 10px;
  }
  .container-contact .block-left .block-left__title .block-left__subtitle p {
    font-size: 35px;
  }
  .container-contact .block-left .block-left__title .block-left__subtitle p:nth-of-type(4) {
    padding-left: 10px;
  }
  .container-contact .block-left .block-left__icon {
    display: none;
  }
  .container-contact .block-left .block-left__footer--big {
    display: none;
  }
  .container-contact .block-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    margin-top: 50px;
  }
  .container-contact .block-description .block-description__content {
    width: 100%;
  }
  .container-contact .block-description .block-description__content p {
    font-size: 15px !important;
    width: 80% !important;
  }
  .container-contact .block-form {
    padding: 0;
    width: 100%;
    border: none;
    margin-top: 30px;
  }
  .container-contact .block-form form {
    margin: 0;
    width: 80%;
  }
  .container-contact .block-footer--small {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .container-contact .block-footer--small p {
    margin: 0;
    font-family: 'DidotLTStd-Italic';
    color: var(--light-font);
  }
}
