@import '../../styles/mixins/_typography.scss'; 

.container-home{  
    display: flex;
    padding-left: 75px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
	white-space: nowrap;
	background-color: var(--dark-background);
	
	.block-left{
		display: flex;
		flex-direction: column;
		height: 100vh;
		padding-right: 49px;
		border-right: 1px var(--light-font) solid;
		margin-right: 10px;
		width: 25%;

		.block-left__title{ 
			position: absolute;
			top: 45vh;
			z-index: 1;

			h2{
				@include title;
				color: var(--light-font);
			}

			.block-left__subtitle{

				display: flex;

				p{
					@include title_italic;
					color: var(--light-font);
					margin-top: 15px;
					animation-name: opacity-title;
					animation-timing-function: ease-in-out;
					animation-duration: .2s;
					animation-fill-mode: forwards;
					opacity: 0;
					
					&:nth-of-type(1){
						animation-delay: .2s;
					}

					&:nth-of-type(2){
						animation-delay: .4s;
					}

					&:nth-of-type(3){
						animation-delay: .6s;
					}

					&:nth-of-type(4){
						animation-delay: .8s;
					}

					&:nth-of-type(5){
						animation-delay: 1s;
					}

					@keyframes opacity-title {
						0%{
						
							opacity: 0;
						}
						100%{
						
							opacity: 1;
						}
					}
		
				}
				
				
			}
		}

		.block-left__icon{
			padding-top: 35vh;
			padding-left: 90px;
			height: 80%;
			animation-name: startImg;
			animation-duration: 3s;
			animation-fill-mode: forwards;
			opacity: 1;

			@keyframes startImg {
				0%{
					opacity: 0;
				}
				100%{
					opacity: 1;
				}
			}

			.image img{
				width: 70%;
				height: auto;
			  }
		}

		.block-left__footer--big{
			width: 100%;
			display: flex;
			align-items: flex-start;
			margin-bottom: 30px;

			p{
				@include footer;
				color: var(--light-font);
			}
		}
	}

	.project{
		position: relative;
		width: 100%;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			display: none;
		}

		.block-project {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
			border-left: 1px var(--light-font) solid;

			.block-project-main{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				width: 40%;
				height: 65%;

				.block-project-main__id{
					width: 50%;

					p{
						@include caption;
						color: var(--light-font);
					}
				}

				.block-project-main__description{
					display: flex;
					justify-content: flex-end;
					width: 50%;

					p{
						@include caption;
						color: var(--light-font);
					}
				}

				.block-project-main__cover{
					display: flex;
					width: 100%;
					height: 100%;
					flex-direction: column;
					margin-top: 15px;

					&:hover .block-project-main__cover__image img{
						filter: grayscale(0%);
						width: 110%;
					}

					.block-project-main__cover__image{
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 80%;
						overflow: hidden;

						img{
							width: 100%;
							height: auto;
							filter: grayscale(100%);
							transition: width 0.5s ease-in-out;
						}
					}

					.block-project-main__cover__content{
						display: flex;
						justify-content: center;
						flex-direction: column;
						width: 100%;
						height: 20%;

						p{
							@include body;
							white-space: normal;
							color: var(--light-font);
						}

						a{
							text-decoration: none;
							margin-top: 20px;

							.block-project-main__cover__link{
								display: flex;
								align-items: center;
								width: auto;
								height: 30px;
								cursor: pointer;

								&:hover .block-project-main__cover__line{
									animation: ligne 1s 1 normal;
								}

								@keyframes ligne{
									0%{
										width: 0px;
									}
									100%{
										width: 50px;
									}
								}
		
								p{
									@include body-bold;
									color: var(--light-font);
								}
		
								.block-project-main__cover__line{
									margin-left: 10px;
									width: 50px;
									height: 1px;
									background-color: var(--light-font)
								}
							}
						}
					}
				}
			}

			.block-project__next{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin-top: 50px;
				height: 50px;
				opacity: 0;
				animation-name: start;
				animation-duration: 2s;
				animation-delay: 1s;
				animation-fill-mode: forwards;

				@keyframes start {
					0%{
						opacity: 0;
					}
					100%{
						opacity: 1;
					}
				}

				.arrow{
					width: 50px;
					background-color: var(--light-font);
					height: 1px;
					transform: rotate(90deg);
					animation-name: arrow;
					animation-duration: 2s;
					animation-timing-function: ease-out;
					animation-iteration-count: infinite;
				}

				@keyframes arrow {
					0%{
						transform: rotate(90deg) translateX(0px);
						opacity: 1;
					}
					100%{
						transform: rotate(90deg) translateX(30px);
						opacity: 0;
					}
				}

			}
		}

		.block-project__footer--small{
			display: none;
		}
	}
}


[class*="reveal-"]{
	opacity: 0;
	transform: translateY(-30px);
}

.reveal-visible{
	opacity: 1;
	transform: translateY(0px);
	transition-duration: 1s;
	transition-timing-function: ease;
}

.reveal-title-1,
.reveal-title-2,
.reveal-title-3{
	transition-delay: .1s;
}

.reveal-description-1,
.reveal-description-2,
.reveal-description-3{
	transition-delay: .3s;
}

.reveal-id-1,
.reveal-id-2,
.reveal-id-3{
	transition-delay: .5s;
}

// big screen et tablet 
@media screen and (max-width: 1024px) and (min-width: 431px)
{
    .container{
		display: flex;
		padding: 0;
		flex-direction: column;

		.title-block{
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 25vh;

			.title{
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				position: relative;
				top: 0;

				h2{
					font-size: 45px;
					font-weight: normal;
					margin: 0;
				}

				.block{
					p{
						font-size: 45px;
					}
				}
			}

			.image{
				display: none;
			}

			.footer-big{
				display: none;
			}
		}

		.projects{
			width: 100%;
			height: 75vh;

			.block-project{
				height: 100%;
				border: none;

				.main-project{
					display: flex;
					width: 80%;
					height: 80%;

					.text-left{
						padding: 10px 0;
					}

					.cover-project{
						width: 80%;
						height: 100%;

						.image-project{
							height: 70%;
						}

						.text-project{
							height: 30%;
						}
					}

					.text-right{
						padding: 10px 0;
					}
				}
			}

			.footer-small{
				width: 100%;
				display: flex;
				justify-content: center;
				margin-bottom: 30px;
	
				p{
					margin: 0;
					font-style: italic;
				}
			}
		}
	}
}

// mobile L and S 
@media screen and (max-width: 430px){
	.container{
		display: flex;
		padding: 0;
		flex-direction: column;
		// background-color: darkgoldenrod;

		.title-block{
			display: flex;
			justify-content: flex-start;
			width: 100%;
			margin-top: 120px;
			height: auto;
			padding-bottom: 30px;

			.title{
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				top: 0;

				h2{
					font-size: 35px;
					font-weight: normal;
					margin: 0;
				}

				.block{
					margin-left: 10px;
					p{
						font-size: 35px;
					}
				}
			}

			.image{
				display: none;
			}

			.footer-big{
				display: none;
			}
		}

		.projects{
			width: 100%;
			height: auto;

			.block-project{
				justify-content: flex-start;
				border: none;
				height: auto;

				.main-project{
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 80%;
					height: auto;

					.text-left{
						padding: 0;
						width: 100%;
						margin-bottom: 30px;

						p{
							margin: 0;
							transform: rotate(0deg);
						}
					}

					.cover-project{
						width: 100%;
						height: 100%;

						.image-project{
							justify-content: flex-start;
							height: 80%;
						}

						.text-project{
							height: 30%;

							h3{
								margin-top: 30px;
							}
						}
					}

					.text-right{
						padding: 0;
						width: 100%;

						p{
							margin: 0;
							transform: rotate(0deg);
						}
					}
				}
			}

			.footer-small{
				width: 100%;
				display: flex;
				justify-content: center;
				margin-bottom: 30px;
	
				p{
					margin: 0;
					font-style: italic;
				}
			}
		}
	}
}