.container{  
    display: flex;
    color: white;
    padding-left: 75px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
	white-space: nowrap;
	
	.title-block{
		display: flex;
		flex-direction: column;
		height: 100vh;
		padding-right: 49px;
		border-right: 1px #ffffff solid;
		margin-right: 10px;
		width: 25%;

		.title{
			position: absolute;
			top: 45vh;
			z-index: 1;

			h2{
				font-size: 60px;
				font-weight: normal;
				margin: 0;
			}

			.block{

				display: flex;

				p{
					margin: 0;
					font-size: 60px;
					font-style: italic;
					animation-name: opacity-title;
					animation-timing-function: ease-in-out;
					animation-duration: .2s;
					animation-fill-mode: forwards;
					opacity: 0;

					&:nth-of-type(1){
						animation-delay: .2s;
					}

					&:nth-of-type(2){
						animation-delay: .4s;
					}

					&:nth-of-type(3){
						animation-delay: .6s;
					}

					&:nth-of-type(4){
						animation-delay: .8s;
					}

					&:nth-of-type(5){
						animation-delay: 1s;
					}

					@keyframes opacity-title {
						0%{
						
							opacity: 0;
						}
						100%{
						
							opacity: 1;
						}
					}
		
				}
				
				
			}
		}

		.image{
			padding-top: 35vh;
			padding-left: 90px;
			height: 80%;
			animation-name: startImg;
			animation-duration: 3s;
			animation-fill-mode: forwards;
			opacity: 1;

			@keyframes startImg {
				0%{
					opacity: 0;
				}
				100%{
					opacity: 1;
				}
			}

			.image img{
				width: 70%;
				height: auto;
			  }
		}
	}

	.projects{
		position: relative;
		width: 100%;
		overflow-x: hidden;
		// overflow-y: hidden;

		&::-webkit-scrollbar {
			display: none;
		}

		.block-project {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
			border-left: 1px #ffffff solid;

			.main-project{
				display: flex;
				width: 400px;
				height: 600px;

				.text-left{
					width: 10%;

					p{
						transform: rotate(90deg);
					}
				}

				.cover-project{
					width: 80%;
					height: 600px;

					&:hover .image-project img{
						width: 130%;
						transition: width 1s ease;
						filter: grayscale(0%);
					}

					.image-project{
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 80%;
						overflow: hidden;

						img{
							width: 115%;
							height: auto;
							filter: grayscale(100%);
							transition: width 1s ease;
						}
					}

					.text-project{
						display: flex;
						justify-content: flex-end;
						flex-direction: column;
						margin: 0;
						width: 100%;
						height: 20%;

						h3{
							margin: 0;
							margin-top: 5px;
							font-size: 30px;
							font-weight: normal;
						}

						a{
							text-decoration: none;
							color: #ffffff;

							.see-more{
								display: flex;
								align-items: center;
								width: auto;
								cursor: pointer;

								&:hover .line{
									animation: ligne 1s 1 normal;
								}

								@keyframes ligne{
									0%{
										width: 0px;
									}
									100%{
										width: 50px;
									}
								}
		
								p{
									font-size: 16px;
									font-style: italic;
								}
		
								.line{
									margin-left: 10px;
									width: 50px;
									height: 1px;
									background-color: #ffffff;
								}
							}
						}
					}
				}

				.text-right{
					width: 10%;

					p{
						transform: rotate(90deg);
					}
				}
			}

			.next-project{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin-top: 10px;
				height: 50px;
				opacity: 0;
				animation-name: start;
				animation-duration: 2s;
				animation-delay: 1s;
				animation-fill-mode: forwards;

				@keyframes start {
					0%{
						opacity: 0;
					}
					100%{
						opacity: 1;
					}
				}

				.arrow{
					width: 50px;
					background-color: #ffffff;
					height: 1px;
					transform: rotate(90deg);
					animation-name: arrow;
					animation-duration: 2s;
					animation-timing-function: ease-out;
					animation-iteration-count: infinite;
				}

				@keyframes arrow {
					0%{
						transform: rotate(90deg) translateX(0px);
						opacity: 1;
					}
					100%{
						transform: rotate(90deg) translateX(30px);
						opacity: 0;
					}
				}
			}
		}
	}
}


[class*="reveal-"]{
	opacity: 0;
	transform: translateY(-30px);
}

.reveal-visible{
	opacity: 1;
	transform: translateY(0px);
	transition-duration: 1s;
	transition-timing-function: ease;
}

.reveal-title-1,
.reveal-title-2,
.reveal-title-3{
	transition-delay: .3s;
}

.reveal-description-1,
.reveal-description-2,
.reveal-description-3{
	transition-delay: .6s;
}

.reveal-id-1,
.reveal-id-2,
.reveal-id-3{
	transition-delay: .9s;
}
