.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  z-index: 10;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #ffffff;
  padding: 0;
}

.container.transition-close {
  transition: all ease-out 1.5s;
  transform: translateY(-100vh);
}

.container .text {
  margin-left: 170px;
  /* line-height: 0px; */
  padding: 0;
}

.container .text .block {
  display: flex;
  padding: 0;
  margin: 0;
  /* background-color: teal; */
  height: 70px;
  align-items: center;
}

.container .text .block .cache {
  position: absolute;
  width: 1000px;
  height: 80px;
  background-color: #ffffff;
  transform: scaleX(1);
  animation: cache 5s 1 forwards;
}

.container .text .block p {
  font-size: 58px;
  color: #252525;
}

.container .text .block:nth-of-type(2) .cache {
  animation-delay: 1s;
}

.container .text .block:nth-of-type(3) .cache {
  animation-delay: 2s;
}

@keyframes cache {
  0% {
    width: 1000px;
    transform-origin: 100% 50%;
    transform: scaleX(1);
  }
  100% {
    transform-origin: 100% 50%;
    transform: scaleX(0);
  }
}

.container .image {
  position: absolute;
  opacity: 0;
  width: 140px;
  height: 140px;
  animation: form 1s 1 forwards;
}

@keyframes form {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(100px);
    opacity: 1;
  }
}

.container .image:nth-of-type(2) {
  top: 5vh;
  animation-delay: 0s;
}

.container .image:nth-of-type(3) {
  top: 70vh;
  animation-delay: .5s;
}

.container .image:nth-of-type(4) {
  top: 80vh;
  left: 60vw;
  animation-delay: 1s;
}

.container .image:nth-of-type(5) {
  top: 20vh;
  left: 40vw;
  animation-delay: 1.5s;
}

.container .image:nth-of-type(6) {
  top: 50vh;
  left: 80vw;
  animation-delay: 2s;
}

.container .image:nth-of-type(7) {
  top: 10vh;
  left: 70vw;
  animation-delay: 2.5s;
}

.container .close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 100%;
  position: absolute;
  top: 90vh;
  left: 50vw;
  margin: 0 auto;
}

.container .close-button img {
  width: 50px;
  height: 50px;
}
