.container-intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  z-index: 10;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--light-background);
}

.container-intro .block-text {
  margin-left: 170px;
}

.container-intro .block-text .block-text__content {
  display: flex;
  height: 70px;
  align-items: center;
}

.container-intro .block-text .block-text__content .block-text__content--cache {
  position: absolute;
  width: 1000px;
  height: 80px;
  background-color: var(--light-background);
  transform: scaleX(1);
  animation: cache 5s 1 forwards;
}

.container-intro .block-text .block-text__content p {
  font-size: 58px;
  font-family: 'Didot';
  color: var(--dark-font);
}

.container-intro .block-text .block-text__content:nth-of-type(2) .block-text__content--cache {
  animation-delay: 1s;
}

.container-intro .block-text .block-text__content:nth-of-type(3) .block-text__content--cache {
  animation-delay: 2s;
}

@keyframes cache {
  0% {
    width: 1000px;
    transform-origin: 100% 50%;
    transform: scaleX(1);
  }
  100% {
    transform-origin: 100% 50%;
    transform: scaleX(0);
  }
}

.container-intro .image {
  position: absolute;
  opacity: 0;
  width: 140px;
  height: 140px;
  animation: form 1s 1 forwards;
}

@keyframes form {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(100px);
    opacity: 1;
  }
}

.container-intro .image:nth-of-type(2) {
  top: 5vh;
  animation-delay: 0s;
}

.container-intro .image:nth-of-type(3) {
  top: 70vh;
  animation-delay: .5s;
}

.container-intro .image:nth-of-type(4) {
  top: 80vh;
  left: 60vw;
  animation-delay: 1s;
}

.container-intro .image:nth-of-type(5) {
  top: 20vh;
  left: 40vw;
  animation-delay: 1.5s;
}

.container-intro .image:nth-of-type(6) {
  top: 50vh;
  left: 80vw;
  animation-delay: 2s;
}

.container-intro .image:nth-of-type(7) {
  top: 10vh;
  left: 70vw;
  animation-delay: 2.5s;
}

.container-intro .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 170px;
  margin-top: 50px;
}

.container-intro .button a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.container-intro .button a p {
  font-size: 20px;
  color: var(--dark-font);
  font-family: 'DidotLTStd-Italic';
}

.container-intro .button a .button--line {
  margin-left: 10px;
  width: 50px;
  height: 1px;
  background-color: var(--dark-font);
}

.container-intro .button a:hover .button--line {
  animation: ligne 1s 1 normal;
}

@keyframes ligne {
  0% {
    width: 0px;
  }
  100% {
    width: 50px;
  }
}
