@import '../../styles/mixins/_typography.scss'; 
 
.navbar{
	z-index: 3; 
	.navbar-name{
		margin-top: 67px;
		padding-left: 75px;
		left: 0; 
		position: absolute;
		z-index: 4;

		&:hover .navbar-name--underligne{
			animation: underligne 1s 1 normal;
		}

		a{
			text-decoration: none;

			h1{
				color: var(--light-font);
				font-size: 30px;
				font-family: 'DidotLTStd-Italic';
			}

			.navbar-name--open{
				color: var(--dark-font);
			}

			.navbar-name--underligne{
				width: 100%;
				height: 1px;
				background-color: var(--light-background);
				animation: start-underligne 2s 1 normal;

				@keyframes start-underligne{
					0%{
						width: 0%;
					}
					100%{
						width: 100%;
					}
				}

				&.navbar-name--open{
					background-color: var(--dark-background);
				}
			}
		}
	}

	.navbar-menu{
		margin-top: 67px;
		padding-right: 75px;
		right: 0;
		position: absolute;
		cursor: pointer;
		z-index: 4;

		&:hover .navbar-menu--line:nth-child(2){
			width: 33px;
			transition: all linear 0.5s;
		}

		.navbar-menu--line{
			height: 2px;
			background-color: #ffffff;
			margin: 10px 0;

			&:nth-child(1){
				width: 33px;
				animation-name: line-menu;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-iteration-count: 1;
			}
		
			&:nth-child(2){
				width: 17px;
				animation-name: line-menu;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-iteration-count: 1;
			}
		
			&:nth-child(3){
				width: 33px;
				animation-name: line-menu;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-iteration-count: 1;
			}

			@keyframes line-menu {
				0%{
					width: 0px;
				}
				100%{
					width: 33px;
				}
			}
		}

		&.navbar-menu--open{
			.navbar-menu--line{
				height: 2px;
				background-color: #252525;
				margin: 10px 0;
				transition: all ease-in-out 0.5s;
	
				&:nth-child(1){
					width: 33px;
					transform: translateY(11px) rotate(45deg);
				}
			
				&:nth-child(2){
					width: 33px;
					opacity: 0;
				}
			
				&:nth-child(3){
					width: 33px;
					transform: translateY(-12px) rotate(-45deg)
				}
			}

			&:hover{
				opacity: 0.5;
			}
		}
	}
}

.navbar-open{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
	z-index: 3;
	transform: translateX(100%);
	position: fixed;

	&.navbar-open__transition--open{
		transition: all ease 1.5s;
		transform: translateX(0%);
	}

	&.navbar-open__transition--close{
		transition: all ease 1.5s;
		transform: translateX(100vw);
	}

	.navbar-open__list{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 80%;
		height: 80%;
		text-align: center;

		.navbar-open__list__link{
			display: flex;
			align-items: center;
			margin: 30px 0;

			.navbar-open__list__link__circle{
				width: 10px;
				height: 10px;
				background-color: #252525;
				border-radius: 100%;
				margin: 0px 45px;
			}

			a{
				text-decoration: none;
				display: flex;
				flex-direction: column;

				p{
					font-size: 60px;
					color: #252525;
					text-decoration: none;
					cursor: pointer;
				}
	
				.navbar-open__list__link__circle--underline{
					display: flex;
					width: 0%;
					height: 1px;
					background-color: #252525;
				}

				&:hover{
					font-style: italic;
					transition: font-weight ease 1s;
				}

				&:hover .navbar-open__list__link__circle--underline{
					animation: underligne 1s 1 normal;
					width: 100%;
				}
		
				@keyframes underligne{
					0%{
						width: 0%;
					}
					100%{
						width: 100%;
					}
				}
			}
		}
	}
}

// big screen et tablet 
@media screen and (max-width: 1024px) and (min-width: 431px){
	.navbar{
		.name{
			padding-left: 0px;
			margin: 30px;
			// background-color: darkmagenta;
		}
		.menu{
			// background-color: darkmagenta;
			padding-right: 0px;
			margin: 30px;
		}
	}
}

// mobile L and S 
@media screen and (max-width: 430px){
	.navbar{
		.name{
			padding-left: 0px;
			margin: 30px;
			// background-color: darkmagenta;
		}
		.menu{
			// background-color: darkmagenta;
			padding-right: 0px;
			margin: 30px;
		}
	}

	.navbar-open{

		p{
			font-size: 45px !important;
		}
	}
}