.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  color: #ffffff;
  font-size: 45px;
  font-weight: bold;
}

.container h2 {
  margin-top: 20px;
  color: #ffffff;
  font-size: 30px;
}

.container .button {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: auto;
  cursor: pointer;
}

.container .button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.container .button .line {
  margin-left: 10px;
  width: 50px;
  height: 1px;
  background-color: #ffffff;
}

.container .button:hover .line {
  animation: ligne 1s 1 normal;
}

@keyframes ligne {
  0% {
    width: 0px;
  }
  100% {
    width: 50px;
  }
}
