:root {
  --dark-background: #252525;
  --dark-font: #111111;
  --light-background: #ffffff;
  --light-font: #ffffff;
  --grey-font: #9b9999;
}

.container-404 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-404 h1 {
  color: var(--light-font);
  font-size: 41px;
  font-family: 'didot';
}

.container-404 h2 {
  color: var(--light-font);
  margin-top: 20px;
  font-size: 18px;
  font-family: 'didot';
}

.container-404 .button {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: auto;
  cursor: pointer;
}

.container-404 .button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.container-404 .button .button--line {
  margin-left: 10px;
  width: 50px;
  height: 1px;
  background-color: #ffffff;
}

.container-404 .button:hover .button--line {
  animation: ligne 1s 1 normal;
}

@keyframes ligne {
  0% {
    width: 0px;
  }
  100% {
    width: 50px;
  }
}
