@import '../../styles/mixins/_typography.scss'; 

.container-404{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--dark-background);

	h1{
		color: var(--light-font);
		@include title_second;
	}

	h2{
		color: var(--light-font);
		margin-top: 20px;
		@include caption;
	}

	.button{
		margin-top: 50px;
		display: flex;
		align-items: center;
		width: 170px;
		cursor: pointer;

		a{ 
			color: var(--light-font);
			@include body-bold;
			text-decoration: none;
		}

		.button--line{
			margin-left: 10px;
			width: 50px;
			height: 1px;
			background-color: var(--light-font);
		}

		&:hover .button--line{
			animation: ligne 1s 1 normal;
		}

		@keyframes ligne{
			0%{
				width: 0px;
			}
			100%{
				width: 50px;
			}
		}
	}
}