.container-404 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-background);
}

.container-404 h1 {
  color: var(--light-font);
  font-size: 41px;
  font-family: 'Didot';
}

.container-404 h2 {
  color: var(--light-font);
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Didot';
}

.container-404 .button {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 170px;
  cursor: pointer;
}

.container-404 .button a {
  color: var(--light-font);
  font-size: 16px;
  font-family: 'DidotLTStd-Bold';
  text-decoration: none;
}

.container-404 .button .button--line {
  margin-left: 10px;
  width: 50px;
  height: 1px;
  background-color: var(--light-font);
}

.container-404 .button:hover .button--line {
  animation: ligne 1s 1 normal;
}

@keyframes ligne {
  0% {
    width: 0px;
  }
  100% {
    width: 50px;
  }
}
